body {
  height: 100vh;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
}

body,
a {
  color: white;
}

header {
  text-align: center;
}

header img {
  max-width: 100%;
}

input {
  font-size: 2em;
}

button {
  background-color: #fc9707;
  font-size: 2em;
}

h1,
h2 {
  color: #fc9707;
}

h2 {
  margin-bottom: 0.2em;
}

code,
.spammer-hell-summary {
  display: inline-block;
  background-color: #fadf2e;
  border-radius: 4px;
  padding: 10px;
  color: black;
}

.spammer-hell-summary {
  font-size: 2em;
}

ol {
  padding: 0;
}

li {
  list-style-type: none;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  margin-top: 0.3em;
  margin-bottom: 3em;
}

dt {
  grid-column-start: 1;
}

dd {
  grid-column-start: 2;
}

#search {
  text-align: center;
}

#response {
  padding: 10px;
  border-radius: 4px;
  color: red;
  font-size: 2em;
}
