body {
  height: 100vh;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}

body,
a {
  color: white;
}

header {
  text-align: center;
}

header img {
  max-width: 100%;
}

input {
  font-size: 2em;
}

button {
  background-color: #fc9707;
  font-size: 2em;
}

h1,
h2 {
  color: #fc9707;
}

code {
  background-color: #fadf2e;
  border-radius: 4px;
  padding: 10px;
  color: black;
}

#search {
  text-align: center;
}

#response {
  padding: 10px;
  border-radius: 4px;
  color: red;
  font-size: 2em;
}
